          
  {{#each temperaturas}}

    <div class="col-md-4 mx-auto">
                        Tu temperatura el día {{prettifyDate created_at}} fue de {{temperatura}}°
                    </div>   

                    
                    {{else}}
               <div class="col-md-4 mx-auto">
                   <a class="button" href="/registros/noTemp/{{id}}">No existen registros de temperatura agrega uno...</a>
               </div>
     
                    {{/each}}
                    