<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-heare">
                    <h3>Registro existente</h3>
                </div>
                <div>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdkPBWE6kG9KIk64iesBaif7WyYsNZpWWhTZ2oWp_2xqwAJgw/viewform?usp=pp_url&entry.461344135={{id}}">Control diario</a>
                    <a href="">Agregar contacto</a>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>